<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/" class="navbar-brand">UnFollowed</a> <!-- Acts as the home button -->
        </div>
        <div class="navbar-right">
            <a href="#about" class="navbar-item">About</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="content">
        <h1>How to see who doesn't follow you back on Instagram</h1>
        <div class="instructions-block">
            <p> UnFollowed uses the ONLY method of viewing followers which doesn't result in a ban</p>
            <p> Works for private and public accounts and DOESN'T require any login, your data is completely secure</p>
            <p> Simply use our <a href="/" target="_blank">Followers Checker</a></p>
        </div>
    </div>
</body>
</html>
